#head {
    text-align: center;   
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #333333;
    font-size: 60px;
}
/*
#span1 {
    font-size: 25px;
    margin-right:95px;
    font-family:'Comic Sans MS';
}
#span2 {
    font-size: 35px; 
    font-family:'Comic Sans MS';
    margin-right: 100px;
    text-shadow: 3px 1px 1px #4f4242;
}
#head-left {
    font-family: 'Comic Sans MS';
    float: left;
    margin-left: 0px;
    font-size: 20px;
    padding-top: 20px;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    text-shadow: 2px 1px 1px #4f4242;
}*/

#head-top {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    border: 2px;
    border-color: #000000;
    border-style: solid;
}

#nav li {
    display: inline;
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#nav li .tab {
    font-size: 20px;
    text-decoration: none;
    padding-left: 5px;
    padding: 20px;
    color:#ffffff;
}

#nav li .tab:hover {
    background-color:#9B1C26;
    padding: 20px;
}

#login-partial li {
    display: inline;
}

#login-partial {
    float: right;
    word-spacing: 10px;
}