#head {
      
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#head-top h1 {
    color: #333333;
    font-size: 60px;
    margin-left: 50px;
}

#head-top {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    text-align: center;
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    border: 2px;
    border-color: #000000;
    border-style: solid;
}

#nav ul {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#nav li {
    display: inline;
    min-width: 740px;
    max-width: 740px;
}

#nav li .tab {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding: 20px;
    color: #ffffff;
}

#nav li .tab:hover {
    background-color: #9B1C26;
    padding: 18px;
    border: 2px;
    border-color: #333333;
    border-style: solid;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.login-partial {
    text-align: right;
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.login-partial li{
    display: inline;
    font-size: 13px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333333;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: bold;
}