/*#region body */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F5F5F5;
    margin: 0 0 100px;
}
#center {
    margin-left:auto;
    margin-right:auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}
/*#endregion */
a ,a:link, a:visited { 
    text-decoration:none 
}
href
{
    text-decoration:none
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#container {
    margin-top: 20px;  
}
#center {
    margin-left:auto;
    margin-right:auto;
}
.box-border {
    background-color: #D3D3D3;
    padding: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #333333;
}

/*#region footer */

.footer-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 14px;
    background: #333333;
    color: #ffffff;
    border: 2px;
    border-color: #000000;
    border-style: solid;
}

.footer-bottom .footer-content {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom #footer-recomend {
    text-align: left;
}

.footer-bottom #footer-terms {
    text-align: right;
}

/*#endregion */

.file-info, .request-info {
    min-width: 540px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

/*#region FileUpload */
.upload, .upload-request {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
    border: solid 6px  #333333;
    border-radius: 20px;
    background-color: #efefef;
}

#dropdown > label:last-of-type {
    margin-left: 40px;  
}

#dropdown > label:first-of-type {
    padding-right: 25px;  
}

legend {
    margin-left: 30%;
    font-size: 28px;
    font-weight: bold;
    color: #9B1C26;
}

#dropdown {
    padding: 10px;
    margin-left: 140px;
}

#search-menu {
    margin-left: 30px;
}
#textbox {
    margin:15px;
}
#get-file {
    margin-left: 150px;
    margin-bottom: 20px;
}
 /*#endregion */

/*#region Index */

.home-page {
    max-width: 740px;
    min-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

#center {
}

.table-left {
    min-width: 350px;
    max-width: 350px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.table-right {
    min-width: 350px;
    max-width: 350px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

caption, h3 {
    font-family: 'Comic Sans MS';
}
/*#endregion */

/*#region About */

.about, .request-search, .instructions {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    margin-left: 0px;
    clear: both;
}

.about p, h3 {
    margin-left: 50px;
}

.about ol {
    margin-left: 80px;
}

#about-list {
    width: 200px;
    margin-top: 80px;
    float: right;
}

#about-text {
    float: left;
    width: 65%;
}

/*#endregion */


.make-srt-list {
    margin-top:5px;
    width:400px;
    float:left;
}

#example {
    margin-top:1px;
    margin-right:10px;
    float:right;
    width: 250px;
    height: auto;
}

#make-srt {
     margin-top: 50px;
     overflow:hidden; 
     margin-left:10px;
}

#use-srt {
    margin-left: 10px;
    border-bottom:dotted 2px #333333;
}

#download > a {
    float:right;
    padding:5px;
    border: solid 1px #9B1C26;
    background-color:#333333;
    color:#efefef;
}
#download > a:active{
    background-color:#ff00dc;
    color:#4cff00;
}
#download > a:hover{
    background-color:#F5F5F5;
    color:#333333;
}

.comment-list {
    margin-top: 20px;
}