/*#region body */
body {
    background-color: #F5F5F5;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}
/*#endregion */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#container {
    
}

/*#region Breadcrumb */
#Breadcrumb {
    margin-left: auto;
    margin-right: auto;
    margin: 25px auto;
    width: 210px;
}
/*#endregion */

/*#region footer */
footer {
    width: 800px;
    margin: auto;
    color: #909090;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}
/*#endregion */

/*#region FileUpload */
.file-upload {
    min-width: 540px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.box-border {
    background-color: #D3D3D3;
    padding: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #800080;
}

.room {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:25px;
}

.textbox-room{
    width: 300px;
    float: right;
}

#radioroom{
    margin-left: 100px;
}

input[name="submit"] {
  margin:15px;
}
 /*#endregion */

/*#region Index */
#center {
    margin: 5px;
    font-family: 'Comic Sans MS';
}

.table-left {
    margin-left: 75px;
    margin-right: 55px;
    float: left;
    width: 40%;
}

.table-right {
    width: 40%;
}

caption, h3 {
    font-family: 'Comic Sans MS';
}
/*#endregion */

/*#region About */

.about {
    min-width: 740px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    margin-left: 0px;
    clear: both;
}

.about p, h3 {
    margin-left: 50px;
}

.about ol {
    margin-left: 80px;
}

#about-list {
    width: 200px;
    margin-top: 80px;
    float: right;
}

#about-text {
    float: left;
    width: 65%;
}

/*#endregion */


.makesrtlist {
    margin-top:5px;
    width:550px;
    float:left;
}

#example {
    margin-top:1px;
    margin-right:25px;
    float:right;
    
}

#makesrt {
     margin-top: 5px;
     overflow:hidden; 
     margin-left:80px;
}

#instructions {
    margin-left:80px;
    border-bottom:dotted 2px #800080;
}