
@model IEnumerable<Subs.Models.Entity.Comment>
@{
    if (Model != null)
    {
        foreach (var comment in Model)
        {
            <form>
                <fieldset>
                    @*---------------Nær í netendanafn og comment á beiðninni----*@
                    <legend> @Html.DisplayFor(modelitem => comment.sCommenterUsername)</legend>
                    @Html.DisplayFor(modelItem => comment.sCommentText)
                </fieldset>
            </form>
        }
    }
}