@model Subs.Models.ViewModel.SubFileViewModel

@*Ekki breyta thessu !!!!!!!!! DatabasePrufa*@
<div id="center">
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                SubType
            </th>
            <th>
                Language
            </th>
        </tr>

        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sFilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sSubLanguage)
                </td>
            </tr>
        }*@
    </table>
</div>