@{
    ViewBag.Title = "About";
}

<div class="about">
    <div id="about-text">
        <h2>Um okkur</h2>
        <p>
            Síðan er gerð í þeim tilgangi að leyfa fólki að ná í texta skrár, leiðrétta og
            jafnvel spreita sig á að búa til skjátextaskrá og hlaða henni inná síðuna. Til að
            hafa samband við vefstjórnendur er hægt að senda póst á vefföng þeirra. Síðan er
            verður ekki með vefauglysingar svo lengi sem við græðum nægan pening á ykkur frá
            stirkjum.
        </p>

        <h2>Reglur</h2>
        <h3>Almennar reglur</h3>
            <ol>
                <li>Stjórnendur meiga breita eða búa til reglur án fyrirvara </li>
                <li>Reglur er eithvað sem má fylgja en þarf ekki</li>
                <li>Gerðu eithvað rétt</li>
                <li>Bannað að senda okkur mail</li>
            </ol>
        <h3>Notenda reglur</h3>
            <ol>
                <li>Ekki vera dick</li>
            </ol>



    </div>
    <div id="about-list">
        <dl>
            <dt>Sveinbjorn Berent B</dt>
            <dd>sveinbjorn13@ru.is </dd>
            <dt>Heiðar Freyr</dt>
            <dd>freyr1980@gmail.is</dd>
            <dt>Guðmundur Rúnar</dt>
            <dd>gummire@gmail.is</dd>
            <dt>Kjartan Kjartansson</dt>
            <dd>kjartan607@gmail.is</dd>
            <dt>Kevin Freyr Leósson</dt>
            <dd>kevinfreyr@gmail.com</dd>
            <dt>Sigurður Páll Guttormsson</dt>
            <dd>sigurdurpallguttormson@gmail.is</dd>
        </dl>
    </div>

    <div id="about-rest">



        <h2>Skilmali</h2>
        <div id="useragrement">
            <p>
                Rosa mikilvægt bla bla bla, ekki til að selja, nema við græðum líka.
                ekki í eigu fyrirtækis nema þú viljir kaupa. peningar reglur reglur samþykkir
                að gefa nýra.
            </p>
        </div>
    </div>

</div>


