@model IEnumerable<Subs.Models.Entity.Comment>

@{
    ViewBag.Title = "CommentViewTest";
}

<h2>CommentViewTest</h2>

<ul class="list-group" style="max-width: 560px;">
   

        <li class="list-group-item">
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span class="text-primary"> @Html.DisplayFor(modelItem => item.sCommenterUsername)</span>
                <span> @Html.DisplayFor(modelItem => modelItem.sCommentText) </span>
            </p>
            <p>
                <span class="text-muted">@item.dCommentDate.ToString("dd. MMMM HH:mm") - </span>
                <a class="like-comment" href="#">Like <span class="glyphicon glyphicon-thumbs-up"></span></a>
            </p>
            <!--<ul class="list-unstyled">
                <li>Patrekur liked this</li>
                <li>Siggi liked this</li>
            </ul>-->
        </li>
    
    <li class="list-group-item">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <label class="sr-only" for="CommentText">Comment</label>
                <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </li>
</ul>