@model Subs.Models.Entity.SubFile


<div class="file-form">

<div id="Breadcrumb">
    <a href="/Home/">Heim</a> > <a href="/Home/Search">Beiðni</a> > Senda inn skrá
</div>

<!-- Svæði þar sem notandi skráir inn Nafn, tungumál og slóða á mynd. -->

<div class="box-border">
        
                <div class="room">
                    Nafn <input class="textbox-room" type="text" name="name"><br>
                </div>
                <div class="room">
                    Tungumál <input class="textbox-room" type="text" name="language"><br>
                </div>
                <div class="room">
                    Slóð á mynd <input class="textbox-room" type="text" name="url"><br>
                </div>

            <!-- Hér eru radiotakkar þar sem valið er annaðhvort mynd eða þáttur. -->

                <div class="room">
                    Gerð
                    <input id="radioroom" type="radio" name="type" value="movie">Mynd
                    <input id="radioroom" type="radio" name="type" value="tv-show">Þáttur

            </div>


            <div>
        @Html.LabelFor(m => m.sFilePath)
        @Html.EditorFor(m => m.sFilePath)
                </div>
            <div>
        @*@Html.LabelFor(m => m.sSubType)
        @Html.CheckBoxFor(m => m.sSubType)*@
                </div>
    <button type="submit">Create</button>
        </form>
