@{
    ViewBag.Title = "File Upload";
}

<!-- Byrjum á því að gera brauðslóð (breadcrumb) til að upplýsa notandann hvar hann er staddur á síðunni. -->


<div id="Breadcrumb">
    <a href="/Home/">Heim</a> > <a href="/Home/Search">Beiðni</a> > Senda inn skrá
</div>

<!-- Svæði þar sem notandi skráir inn Nafn, tungumál og slóða á mynd. -->

<div id="upload">
    <form>
        <fieldset>
            <legend>Senda inn skrá</legend>
            <div class="room">
                Nafn <input class="textbox-room" type="text" name="name"><br>
            </div>
            <div class="room">
                Tungumál <input class="textbox-room" type="text" name="language"><br>
            </div>
            <div class="room">
                Slóð á mynd <input class="textbox-room" type="text" name="url"><br>
            </div>

            <!-- Hér eru radiotakkar þar sem valið er annaðhvort mynd eða þáttur. -->

            <div class="room">
                Gerð
                <input id="radioroom" type="radio" name="type" value="movie">Mynd
                <input id="radioroom" type="radio" name="type" value="tv-show">Þáttur

            </div

            <!-- Dropdown listi til að velja flokk skráar. -->

            <div>
            <select name="Categories" id="Categories">
                <option value="valmynd">--Velja flokk--</option>
                <option value="barnaefni">Barnaefni</option>
                <option value="drama">Drama</option>
                <option value="gaman">Gaman</option>
                <option value="hrollvekja">Hrollvekja</option>
                <option value="spenna">Spenna</option>
            </select>


            </div>

            <!-- Textarea fyrir nánari lýsingu á skránni. -->

            <p>Nánar</p> <textarea rows="5" cols="75"></textarea><br>

            <!-- Takkar þar sem notandi getur sent inn skrá (submit) eða hætta við þar sem hann er redirectaður inná forsíðuna. -->

            <div>
                <input type="button" name="submit" value="Submit">
                <input type="button" name="cancel" value="Hætta vid">
            </div>
             </fieldset>
            </form>

            </div>
