
@{
    ViewBag.Title = "File Info";
}

<div class="file-info">

    <div id="Breadcrumb">
        <a href="/Home/">Heim</a> > <a href="/Home/Search">Beiðni</a> > Senda inn skrá
    </div>


    <div class="box-border">
        <form>
            <fieldset>
                <legend>Nánari upplýsingar</legend>

                <!------------setja inn stuff hérna!    -->

            </fieldset>
        </form>
    </div>
</div>