@model IEnumerable<Subs.Models.Entity.SubFile>
@*Ekki breyta thessu !!!!!!!!! DatabasePrufa*@
<div id="center">
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                SubType
            </th>
            <th>
                Language
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sSubType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sSubLanguage)
                </td>
            </tr>
        }
    </table>
</div>