
@{
    ViewBag.Title = "Profile";
}



<div class="profile">

<div id="Breadcrumb">
    <a href="/Home/">Heim</a> > <a href="/Home/Search">Beiðni</a> > Senda inn skrá
</div>


<div class="box-border">


    <!------------setja inn stuff hérna!    -->



</div>
</div>