@{
    ViewBag.Title = "Beiðni-Leit";
}

   
    <div class="Breadcrumb">
        <p><a href="/Home/">Heim</a> > Beiðni</p>
    </div>
      

<form id="searchbox" action="">
    <input id="search" type="text" placeholder="Leita">
    <input type="submit" value="Leita">
    <input type="submit" value="Ný beiðni">
</form>

    <center>
        <textarea rows="30" cols="50">
            Niðurstöður skrár
        </textarea>
        <textarea rows="30" cols="50">
            Vinsælast
        </textarea>
    </center>
