@{
    ViewBag.Title = "SendRequest";
}


<div id="Breadcrumb">
    <a href="/Home/">Heim</a> > <a href="/Home/Search">Beiðni</a> > Senda inn skrá
</div>
    <div id="upload">
        <form>
            <fieldset>
                <legend>Senda inn skrá</legend>
                <div class="room">
                    Nafn <input class="textbox-room" type="text" name="name"><br>
                </div>
                <div class="room">
                    Tungumál <input class="textbox-room" type="text" name="language"><br>
                </div>
                <div class="room">
                    Slóð á mynd <input class="textbox-room" type="text" name="url"><br>
                </div>
                <div class="room">
                    Gerð
                    <input id="radioroom" type="radio" name="type" value="movie">Mynd
                    <input id="radioroom" type="radio" name="type" value="tv-show">Þáttur

                </div>
                <p>Nánar</p> <textarea rows="5" cols="75"></textarea><br>
                <div >
                    <input type="button" name="submit" value="Submit">
                    <input type="button" name="cancel" value="Hætta vid">
                </div>
            </fieldset>
        </form>

    </div>
